
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.d_flex{
    display: flex;
}
.d_none{
    display: none;
}
.justify_end{
    justify-content: flex-end;
}
header{
    padding-top: 27px;
}
.container{
    max-width: 1032px;
    margin: auto;
}
.icon_menu{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
header nav li{
    margin-left: 33px;
}
header nav li a{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    line-height: 29px;
    color: #000000;
    display: inline-block;
    transition: 0.3s;
}
header nav li:hover a{
    transform: scale(1.1);
    color: #FF6464;
}

/* Main banner*/

.main_banner{
    padding-top:140px ;
    padding-bottom: 71px ;
}
.box_banner{
    max-width: 858px;
    margin: auto;
    justify-content: space-between;
    align-items: start;
}
.banner_text{
    max-width: 497px;
}
.main_banner h1{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}
.main_banner p{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 38px;
}
.main_banner a{
    padding: 13px 20px;
    background: #FF6464;
    border-radius: 2px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.main_banner a:hover{
    background-color: white;
    color: #FF6464;
    border: solid 2px #FF6464;
}
.banner_avatar{
    max-width: 243px;
    border-radius: 50%;
    overflow: hidden;
}
.main_banner img{
    width: 100%;
    display: block;
}
/*Main posts*/

.main_posts{
    padding: 7px 148px 32px 148px;
    background-color: #EDF7FA;
}
.box_posts{
    max-width: 858px;
    margin: auto;
}
.posts_head{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.main_posts .posts_head a{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
    text-decoration: none;
    transition: 0.3s;
}
.main_posts .posts_head a:hover{
    transform: scale(1.1);
}
.main_posts .posts_head h5{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    display: flex;
    align-items: flex-end;
    color: #21243D;
    margin-bottom: 2px;
}
.recent_posts{
    display: flex;
    justify-content: space-between;
}
.posts_item{
    max-width: 418px;
    background-color: white;
    padding: 24px 27px 24px 23px;

}
.main_posts .posts_item h3{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 17px;
}
.posts_date{
    margin-bottom: 11px;
}
.main_posts .posts_item .posts_date span{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}
.main_posts .posts_item p{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.posts_vertline:after{
    content: "";
    background: #000000;
    width: 1px;
    height: 21px;
    margin: 0 26px;
    display: inline-block;
    vertical-align: middle;
}

/*Section works*/

.section_works{
    padding-top: 15px;
    padding-bottom: 52px;
}
.box_works{
    max-width: 858px;
    margin: auto;
}
.featured_works{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 22px;
}

.post_works{
    display: flex;
    margin-bottom: 31px;
    padding-bottom: 33px;
    border-bottom: solid 1px #E0E0E0;
}
.works_image{
    margin-right: 18px;
    max-width: 246px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.section_works .box_works .works_image img{
    width: 100%;

}
.post_info {
    max-width: 594px;
}

.type_post{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.year_post{
    padding:0px 17px ;
    background: #142850;
    border-radius: 16px;
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    margin-right: 26px;
}
.section_works .post_works .post_info h2{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #21243D;
}
.section_works .post_works .post_info p{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

/*Section form*/

.section_form{
    background-color: #000000;
    padding-top: 69px;
    padding-bottom: 37px;
}
.box_form{
    max-width: 564px;
    margin: auto;
    text-align: center;
}
.form_text{
    background-color: rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    padding:18px 31px 17px 31px;
    width: 100%;
    border: none;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
#form_email{
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding:18px 31px 17px 31px;
    width: 100%; border: none;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.form_comment{
    margin-bottom: 22px;
}
.comment_area{
    border: none;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 18px 31px 88px 31px;
    resize:none;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.form_button{
    padding: 15px 60px;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: transparent;
    border: solid 1px #7EC4BD;
    border-bottom: solid 2px #7EC4BD;
    margin: auto;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #8BCAC3;
    border-radius: 2px;
}
.form_text:focus{
    outline: none;
}
.form_button:hover {
    background-color: #7EC4BD;
    color: white;
}
.section_form input::placeholder {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.section_form textarea::placeholder {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

/*Footer*/

footer{
    padding-top: 51px;
    padding-bottom: 54px;
}
.container_footer{
    max-width: 858px;
    margin: auto;
    justify-content: center;
}
footer ul{
    list-style: none;
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
}
footer li{
    margin-left: 18px;
    margin-right: 18px;
}
footer p{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}


/*/////////////////////////////////*/

/* Blog */
.main_blog{
    padding-top: 106px;
    padding-bottom: 53px;
}
.box_blog{
    max-width: 682px;
    margin: auto;
}
.main_blog .box_blog h1{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 23px;
}
.item_blog{
    padding-top: 32px;
    padding-bottom: 29px;
    border-bottom: solid 1px #E0E0E0;
}
.main_blog .box_blog .item_blog h2{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 16px;
}
.main_blog .item_blog .posts_date .posts_vertline{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}
.main_blog .item_blog .posts_date span{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.main_blog .item_blog p{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

/*/// Works ///*/
.main_work{
padding: 90px 0 58px 0;
}
.main_work .box_blog h1{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 25px;
}
.item_work{
    display: flex;
    margin-bottom: 43px;
    padding-bottom: 47px;
    border-bottom: solid 1px #E0E0E0;
}
.main_work .box_blog .item_work .works_image img{
    width: 100%;
}



